.documentation{
   text-align: center;
   height: 60vh;
   width: 100vw;
   display: flex;
   justify-items: center;
   background: #F3F3F7;
   h3{
      display: block;
      margin: auto;
      font-family: 'Gilroy-Bold', sans-serif;
      font-size: 50px;

   }
}