$primary-color:#0089DA;
$white-color:#FFFFFF;
@font-face {
   font-family: 'Gilroy-Regular';
   src: url('./../../assets/gilroy-Font/Gilroy-Regular.ttf') format('truetype');
 } 
 @font-face {
   font-family: 'Gilroy-Light';
   src: url('./../../assets/gilroy-Font/Gilroy-Light.ttf') format('truetype');
 } 
 @font-face {
   font-family: 'Gilroy-Bold';
   src: url('./../../assets/gilroy-Font/Gilroy-Bold.ttf') format('truetype');
 }
 @font-face {
   font-family: 'Gilroy-Heavy';
   src: url('./../../assets/gilroy-Font/Gilroy-Heavy.ttf') format('truetype');
 }  


 @keyframes fromLetToRight {
   0% {
       opacity: 0;
       z-index: 2;
       transform: translateX(-3rem);
   }
   80% {
       transform: translateX(1rem);
       z-index: 2;

   }
   100% {
       opacity: 1;
       transform: translate(0rem);
   }
}

@keyframes fromRightoLeft {
   0% {
       opacity: 0;
       transform: translateX(3rem);
   }
   80% {
       transform: translateX(-1rem);
   }
   100% {
       opacity: 1;
       transform: translate(0rem);
   }
}

@keyframes fromBottomToTop {
   0% {
       opacity: -1;
       z-index: 0;
       transform: translateY(4rem);
   }
   100% {
       opacity: 1;
       z-index: -1;
       transform: translate(0px);
   }
}

* {
   margin:0px;
   padding: 0px;
   box-sizing: border-box !important;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
   .navbar{
      display: none;
   }
}

body{
   font-family: 'Gilroy-Regular', sans-serif;
   display: flex;
   flex-direction: column;
   width: 100vw;
}



%header-section{
   font-family: 'Gilroy-Bold', sans-serif;
   margin: 2.5rem 5rem;
   position: relative;
   text-transform: uppercase;
   font-size: 1.8rem;
   &::after{
      content: "";
      width: 20%;
      height: 5px;
      background-color: $primary-color;
      position: absolute;
      bottom: -13px;
      left: -30px;
   }
}

%active-button{
   border: none;
   background-color: #3378E1;
   color: $white-color;
   font-size: 17px;
   font-family: 'Gilroy-Bold', sans-serif;
}

/* section 1 */
.section-1{
   margin: 0px;
   height: 75vh;
   display: flex;
   justify-content: space-evenly;
   img{
      max-height: 50vw;
      animation: fromBottomToTop 1s ease-out;
      backface-visibility:hidden;


   }
   &-left{
      width: 80%;
      height: 100%;
      background-color: #F3F3F7;
      position: relative;
      clear: both;

      
      .info{
         height: 70%;
         background:$primary-color;
         min-width: 115%;
         position: absolute;
         clear: both;
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         flex-wrap: wrap;
         padding:0px  65px;
         color: $white-color;
         animation: fromLetToRight 1s ease-out;



         h2{
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 4rem;
            margin-bottom: -40px;
            
         }
         .divider{
            width: 65%;
            height: 4px;
            background-color: #BC412B;
            position: relative;
            left: -30px;
            top: -10px;
         }
         p{
            font-size: 20px;
            font-family: 'Gilroy-Regular', sans-serif;
            font-size: 15px;
            position: relative;
         }
         h3{
            font-family: 'Gilroy-Heavy', sans-serif;

         }

         button{
         height: 46px;
         width: 213px;
         font-size: 17px;
         font-family: 'Gilroy-Bold', sans-serif;
         border: 3px solid $white-color;
         background-color: $primary-color;
         color: $white-color;
         }
      }

   &-text{
      font-family: 'Gilroy-Regular', sans-serif;
      color: black;
      position: absolute;
      bottom: 30px;
      margin: 0px 75px;
      text-align: justify;
      height: 130px;
      min-width: 340px;

   }
   }

}

/* section-planification */
.section-direction-planification{
   display: flex;
   flex-direction: column;
   h2{
      @extend %header-section
   }
   .direction-planification{
      width: 100%;
      height: auto;
      background: #FFFFFF;
     /*  display: flex;
      flex-wrap: wrap; 
      justify-content: center;*/

      iframe{
         min-width: 30vmin;
         height: auto;
         max-height: 90vh;
         margin-left: 0px;
         padding-left: 0px;
      }
      &-right{
         /* width: 65%; */
         height: 100%;
         /* padding: 0px 80px; */
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         p{
            text-align: justify;
            font-family: 'Gilroy-Regular', sans-serif;
         }
      }
      .direction-planification-footer{
         display: flex;
         justify-content: space-between;
         div{
            p:first-of-type{
               color: $primary-color;
            }
         }
         button{
            height: 46px;
            width: 213px;
            font-size: 17px;
            font-family: 'Gilroy-Bold', sans-serif;
            border: 3px solid $primary-color;
            background-color: $white-color;
            color: $primary-color;
         }
      }
   }
}


/* section-dimension-financement */
.section-dimension-financement{
   background-color: #F3F3F7;
   width: 100%;
   height: auto;
   overflow: hidden;
   h2{
      @extend %header-section;
   }
   .dimension-financement{
      display: flex;
      background: #F3F3F7;
      height: 50vh;
      width: 100%;
      &-left{
       padding-right:0;
       padding-left:0;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       .dimension{
          height: 15vh;
          display: flex;
          justify-content: space-evenly;
          div{
             h4{
                a{
                  text-decoration: none;
                  color: #8c9dff7c;
                }
             }
          }
          &:hover{
             position: relative;
             background: $white-color;
             div{
                h4{
                   a{
                     color: blue;
                   }
                }
                p{
                   color: black !important;
                }
               
             }
             button{
               display: block !important;
            }
          }

          button{
            @extend %active-button;
            font-size: 13px;
            height: 35px;
            width: 125px;
            position: absolute;
            right: 0px;
            bottom: 0px;
         }
          img{
             margin-left: 4rem;
          }
          div{
             width: 75%;
             margin: auto 0px;
             h4{
                color: #8c9dff7c;
                font-family: 'Gilroy-Bold', sans-serif;
                margin: 10px 0px;
                font-size: 1.3rem;

             }
             p{
                color: rgba(128, 128, 128, 0.315);
             }
          }
       }
    }
    &-right{
       padding-right:0;
       padding-left:0;
       width: 35%;
       background: #F3F3F7;
       position: relative;
       img{
          width: auto;
          max-height:100%;
          position: absolute;
          top: -2rem;
          
       }

    }
   }
   
}

 /* orientation stratégic */
 .orientation-strategic{
   height: auto;
   width: 100vw;
   flex-wrap: wrap;
   p{
      text-align: justify;
   }
   h2{
    @extend %header-section;
 }
 &-content{
    position: relative;
    margin-bottom: 90px;
    width: 90vw;
    
    button{
       height: 46px;
       width: 200px;
       font-size: 17px;
       font-family: 'Gilroy-Bold', sans-serif;
       background: $primary-color;
       color: $white-color;
       border: none;
       margin-left: right;
       margin: 20px 0px;
       position: absolute;
       bottom:-80px;
       right: 0px;
    }
 }

 &-cards{
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
    &-item{
       margin: 10px auto;
       padding: 0px 13px;
       border: 2px solid #D6E0EE;
       height: 380px;
       width: 350px;
       h4{
          font-family: 'Gilroy-Bold', sans-serif;
          color: $primary-color;
          font-size: 1.3rem;
       }

       &:hover{
          background: $primary-color;
          color: $white-color;
          h4{
             color: $white-color;
          }
          img{
             content:url('./../../assets/icons/achat-service-light.svg');
          }
       }
       
    }

    p{
       font-family: 'Gilroy-Regular', sans-serif;
       text-align: center;
    }

    .bootom-divider{
       height: 90%;
       width: 2px;
       background: #CFD9E6;
       margin-bottom: 1px;
    }

    .bottom-item{
       display: flex;
       justify-content: space-around;
       .bootom-text{
          font-size: 12px;
       }

       h3{
       font-family: 'Gilroy-Bold', sans-serif;
       font-size: 40px;
       }
    }

    button{
      height: 46px;
      width: 200px;
      font-size: 17px;
      font-family: 'Gilroy-Bold', sans-serif;
      background: $primary-color;
      color: $white-color;
      border: none;
      margin-left: right;
      margin: 20px 0px;
   }
 }
}

.actualite{
   width: 100vw;
   height: auto;
   background: #F3F3F7;
   margin-top: 20px;
   padding-top: 30px;
   h2{
      @extend %header-section;
   }
   

   .card-info{
      margin: 5px 20px;
    h6{
       font-family: 'Gilroy-Bold', sans-serif;
       text-align: justify;
    }
    p{
       font-family: 'Gilroy-Regular', sans-serif;
       text-align: justify;
    }

   }
   #container {
    margin: 0;
    padding: 0;
    display: flex ;
    justify-content: center
  }
  
  #slider-container {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  #slider-container {
    .btn {
       position: absolute;
       top: calc(50% - 30px);
       height: 30px;
       width: 30px;
       border-left: 8px solid #CFD9E6;
       border-top: 8px solid #CFD9E6;
       z-index: 1;
 
       
     }
     .slide-right{
        right: 40px;
     }
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: #D6E0EE
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
    
  }
  
  #slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    display: flex;
    justify-content: center;
    .card-illustration{
       height: auto;
       width: 100%;
    }
    .card-bottom{
       display: flex;
       justify-content: space-around;
       .share, .voir-plus{
          color: #707070;
       }
       .share-hover{
             list-style: none;
             display: flex;
             justify-content: space-evenly;
             li{
                margin: 0px 3px;
             }
             
          
       }
       a{
          text-decoration: none;
       }
    }
    &:hover{
      .card-info-container{
       border: 3px solid $primary-color;
       border-top: none;
      }

      .background-image{
       transform: scale(1.1);
       transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
      .share-section{
         display: none;
      }
      .share-hover{
         display: flex !important;
      }
      .voir-plus{
          color: #3378E1;
         img{
          content:url("../../assets/icons/voir-plus-2.svg");
         }
      }
      
    }

    .illustration{
       height:210px;
       overflow: hidden;

       .background-image{
          height: 100%;
          width: 100%;
       }
    }
  }
  
  #slider-container #slider .slide span {
    color: white;
    font-size: 150px;
  }
  
  @media only screen and (min-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    #slider-container #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container #slider .slide {
      width: calc(10% - 20px);
    }
  
  }


   
}

.loader {
   width: 250px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: helvetica, arial, sans-serif;
   text-transform: uppercase;
   font-weight: 900;
   color: #ce4233;
   letter-spacing: 0.2em;
}
.loader::before, .loader::after {
   content: "";
   display: block;
   width: 15px;
   height: 15px;
   background: #ce4233;
   position: absolute;
   animation: load 0.7s infinite alternate ease-in-out;
}
.loader::before {
   top: 0;
}
.loader::after {
   bottom: 0;
}
@keyframes load {
   0% {
      left: 0;
      height: 30px;
      width: 15px;
  }
   50% {
      height: 8px;
      width: 40px;
  }
   100% {
      left: 235px;
      height: 30px;
      width: 15px;
  }
}



.mob-ressource{
   margin-bottom: 10vh;
   h2{
      @extend %header-section
   }
   &-content{
      margin: 10px auto;
      width: 90vw;
      p{
         text-align: justify;
      }
      &-left{
         div{
          height: 130px;
          width: 100%;
          border: 4px solid #BC412B;
          display: flex;
          img{
             height: 50px;
             margin: auto 20px;
          }

          h3{
             margin: auto 30px;
             font-size: 50px;
             color: #BC412B;
          }
         }
         img{
            height: 100%;
            margin: 0px;
            padding: 0px;
         }
      }
   }
}
