/* .form-control{
    border: 1px solid #D0D6DB;
    border-radius: 5px;
    height: 40px;
} */

.require-label:after {
    content:"*";
    color:red;
    font-size: 20px;
    position: absolute;
    top: -3;
    font-weight: bolder;
  }

  .recap{
      font-weight: bolder;
  }

  