.sign-in-container{
  width: 100vw;
  height: 100vh;
  background:
  url('../../../assets/images/login.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.sign-in-form {
  width: 420px;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  padding: 40px 30px;
  background: #FFFFFF;
  color: #000000;
  font-family: Montserrat;
  font-weight: 600;


  .title {
    margin: 10px 0;
  }

  /* .buttons {
  } */
}
