$primary-color:#0089DA;
$white-color:#FFFFFF;
@font-face {
   font-family: 'Gilroy-Regular';
   src: url('./../assets/gilroy-Font/Gilroy-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
 } 
 @font-face {
   font-family: 'Gilroy-Light';
   src: url('./../assets/gilroy-Font/Gilroy-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
 } 
 @font-face {
   font-family: 'Gilroy-Bold';
   src: url('./../assets/gilroy-Font/Gilroy-Bold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
 }
 @font-face {
   font-family: 'Gilroy-Heavy';
   src: url('./../assets/gilroy-Font/Gilroy-Heavy.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
 }  


 @keyframes fromLetToRight {
   0% {
       opacity: 0;
       z-index: 2;
       transform: translateX(-3rem);
   }
   80% {
       transform: translateX(1rem);
       z-index: 2;

   }
   100% {
       opacity: 1;
       transform: translate(0rem);
   }
}

@keyframes fromRightoLeft {
   0% {
       opacity: 0;
       transform: translateX(3rem);
   }
   80% {
       transform: translateX(-1rem);
   }
   100% {
       opacity: 1;
       transform: translate(0rem);
   }
}

@keyframes fromBottomToTop {
   0% {
       opacity: -1;
       z-index: 0;
       transform: translateY(4rem);
   }
   100% {
       opacity: 1;
       z-index: -1;
       transform: translate(0px);
   }
}

* {
   margin:0px;
   padding: 0px;
   box-sizing: border-box !important;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
   .navbar{
      display: none;
   }
}

body{
   font-family: 'Gilroy-Regular', sans-serif;
}

%header-section{
   font-family: 'Gilroy-Bold', sans-serif;
   margin: 2.5rem 5rem;
   position: relative;
   text-transform: uppercase;
   font-size: 1.8rem;
   &::after{
      content: "";
      width: 20%;
      height: 5px;
      background-color: $primary-color;
      position: absolute;
      bottom: -13px;
      left: -30px;
   }
}

%active-button{
   border: none;
   background-color: #3378E1;
   color: $white-color;
   font-size: 17px;
   font-family: 'Gilroy-Bold', sans-serif;
}